/* import css property */
@use '@uniss' as *;
.accountBox {
  border-radius: 3rem;
  border: $borderNormal;
  padding: $unit1_3;
  text-align: left;
  .icon {
    width: $unit3;
    height: $unit3;
    border-radius: 50%;
  }
  .name {
    flex: 1 1 auto;
    padding: 0 $unit2_3;
  }
}