/* import css property */
@use '@uniss' as *;
.Wrap {
  height: calc($viewHeight );
  overflow: auto;
  background-color: $layerColor1;
  @media (max-width:$deviceWidth1024) {
    .Form {
      padding: $unit2;
      min-width: 0;
    }
  }
}
.Footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: $unit1 $unit2;
}