/* import css property */
@use '@styleProps' as *;


.Closing {
  position: sticky;
  top : calc( $HH + $m2 );
}

.MemberImage {
  width : $m2-5;
  height:$m2-5;
  border-radius: 100%;
  margin-left: calc( -1 * $m-1 );
  box-shadow: $bs2;
}