/* import css property */
@use '@styleProps' as *;


.Head {
  position: sticky;
  top : $HH;
}
.Content {
  margin : auto;
  margin-top: calc( $m6 * -1 ) !important;
  position: relative;
}
.Heart {
  position: fixed;
  top : calc( $HH + $m1 );
  right : $m1;
}